@model bool

<div class="banner @(Model ? "banner__1" : "banner__2")">
    <div class="container">
        <div class="raw">
            <div class="col-sm-offset-2 col-sm-8 text-center slide-descr">
                <h3>
                    <span class="yellow">«</span>
                    Ваше благополучие зависит от<br>ваших собственных решений
                    <span class="yellow">»</span>
                </h3>
                <h3 class="yellow">
                    Д. Рокфеллер
                </h3>
                <div class="right-decor"></div>
            </div>
        </div>
    </div>
</div>