<div class="rates-block">
    <div class="container">
        <h2>Тарифы</h2>
        <div class="col-sm-4 rate">
            <h3>10$</h3>
            <p>Инвест. период:  <span>45 д.</span></p>
            <p>Инвест. период:  <span>1% в день</span></p>
            <p>Сумма: <span>10$</span></p>
            <ul>
                <li class="col-xs-5">Ускоритель <span class="yellow-text">20%</span></li>
                <li class="col-xs-5">Ускоритель <span class="red-text">30%</span></li>
            </ul>
        </div>
        <div class="col-sm-4 rate">
            <h3>100$</h3>
            <p>Инвест. период:  <span>45 д.</span></p>
            <p>Инвест. период:  <span>1% в день</span></p>
            <p>Сумма: <span>10$</span></p>
            <ul>
                <li class="col-xs-5">Ускоритель <span class="grey-text">20%</span></li>
                <li class="col-xs-5">Ускоритель <span class="grey-text">30%</span></li>
            </ul>
        </div>
        <div class="col-sm-4 rate">
            <h3>1000$</h3>
            <p>Инвест. период:  <span>45 д.</span></p>
            <p>Инвест. период:  <span>1% в день</span></p>
            <p>Сумма: <span>10$</span></p>
            <ul class="text-center">
                <li class="col-xs-5">Ускоритель <span class="grey-text">20%</span></li>
                <li class="col-xs-5">Ускоритель <span class="grey-text">30%</span></li>
            </ul>
        </div>
    </div>
</div>