<vc:banner is-main="false"></vc:banner>
<vc:autorization></vc:autorization>

<div class="inner-page">
    <div class="container">
        <h2 class="title-page">Информация о нас</h2>
        <div class="logo-inner">
            <img src="~/images/logo.png" alt="" title="">
        </div>
        <div class="quote">
            Ознакомьтесь так же с нашей страницей для <a href="investors.html">инвесторов</a>
        </div>
        <div class="more-text more-text--close">
            <p>
                Но основным мозговым центром нашей компании является десятка трейдеров – ассов, способных мгновенно принимать решения и нести за них полную
                ответственность. Они совершают сделки как самостоятельно, так и с помощью торговых роботов, выставляя программно ограничение рисков и получение торговых
                сигналов. Важным качеством этих роботов является способность проводить моментально тысячи транзакций, зарабатывая на каждой из них. Представьте себе
            </p>
        </div>
        <a href="#1" class="open-text">Открыть полностью<span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
</div>
<div class="contact-info">
    <div class="container">
        <div class="col-xs-12 col-sm-6">
            <h3>КОНТАКТНАЯ ИНФОРМАЦИЯ</h3>
            <h4>«Openinvestments»</h4>
            <p><span>Физ. адрес:</span> г. Москва, Каширское шоссе, 39Б</p>
            <p><span>Физ. адрес:</span> г. Нижний Новгород, ул. Белинского, 32</p>
            <p><span>Физ. адрес:</span> г. Тула, ул. Болдина, 135</p>
            <p><span>Юр. адрес:</span> г. Москва, Каширское шоссе, 39Б</p>
            <p><span>Тел.:</span> +7 (499) 372-15-63 (Москва)</p>
            <p><span>Тел.:</span> +7 (831) 424-07-07 (Нижний Новгород)</p>
        </div>
        <div class="col-xs-12 col-sm-6 mr">
            <p><span>Прием заказов по телефону:</span> с 9:00 до 22:00 ежедневно</p>
            <p><span>Email:</span> info@name.ru</p>

            <p><span>Координаты GPS</span></p>
            <p>55.7072, 37.5979</p>
        </div>
    </div>
</div>
<div id="map">
    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A8c8d447424fa9c9e3e616cc94a1181c29d5e2a7c5d1d40b6af8cf575671a8412&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false"></script>
</div>