<vc:banner is-main="false"></vc:banner>
<vc:autorization></vc:autorization>

<div class="inner-page faq">
    <div class="container">
        <h2 class="title-page">FAQ</h2>
        <div class="logo-inner">
            <h3>Мы поможем</h3>
        </div>
        <div class="quote">
            Прежде, чем <a href="#1">задать вопрос</a>, посмотрите, возможно, ответ на него уже есть.
        </div>
        <div class="faq-list">
            <div class="col-xs-12 col-sm-5">
                <h4>Доставка</h4>
                <ul class="open-list">
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h4>Доставка</h4>
                <ul class="open-list">
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h4>Доставка</h4>
                <ul class="open-list">
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-5">
                <h4>Доставка</h4>
                <ul class="open-list">
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                    <li>
                        Когда мне ждать доставку моего заказа?
                        <div class="closed-text">
                            Наши курьеры свяжутся с Вами в 9-10 часов утра в указанный Вами день доставки для уточнения удобного времени, а также за полчаса-час до прибытия к Вам.
                        </div>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>