<vc:banner is-main="true"></vc:banner>
<vc:autorization></vc:autorization>

<vc:bonus></vc:bonus>
<div class="container">
    <div class="about-block">
        <h2>Кто мы и что делаем на рынке?</h2>
        <div class="col-xs-12 text-center">
            <hr />
            <h3>Мы поможем</h3>
        </div>
        <h4>
            И хоть данное нововведение и имеет некоторый элемент случайности, но оно все-таки предложит вам варианты для выбора.
            <br>Также вы не сможете обмениваться реликвиями, которые прошли через это устройство, с другими игроками.
        </h4>
        <div class="about-block__bg"></div>
        <p>
            Также команда приняла менее значительные меры против людей, уличенных в передаче информации об учетной записи для получения
            преимущества во время рейдового прогресса (так как это является нарушением пользовательского соглашения WoW). И в будущем за
            подобные действия Blizzard планирует применять гораздо более серьезные наказания.
        </p>
    </div>
</div>
<div class="benefits-block">
    <div class="container">
        <div class="raw text-center">
            <h2>Наши преимущества</h2>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img src="~/images/ben1.png" alt="" title="">
                <h3>100% безопасность</h3>
                <p>Мы заботимся о наших пользователях!</p>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img src="~/images/ben2.png" alt="" title="">
                <h3>24/7/365</h3>
                <p>Зарабатывай круглосуточно. Не теряя время сделай состояние!</p>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img src="~/images/ben3.png" alt="" title="">
                <h3>мы - бренд!</h3>
                <p>Все это - наш бренд! Мы - настоящие профи.</p>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <img src="~/images/ben4.png" alt="" title="">
                <h3>помощь</h3>
                <p>Круглостуточная тех. поддержка!</p>
            </div>
        </div>
    </div>
</div>

<vc:rates-block></vc:rates-block>