<div class="banner banner__2">
    <div class="container">
        <div class="raw">
            <div class="col-sm-offset-2 col-sm-8 text-center slide-descr">
                <h3>
                    <span class="yellow">«</span>
                    Ваше благополучие зависит от<br>ваших собственных решений
                    <span class="yellow">»</span>
                </h3>
                <h3 class="yellow">
                    Д. Рокфеллер
                </h3>
                <div class="right-decor"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="login">
        <div class="text-center button-block">
            <button class="login-button"
                    data-toggle="modal" data-target="#login">
                Авторизация
            </button>
            <button class="register-button"
                    data-toggle="modal" data-target="#reg">
                регистрация
            </button>
        </div>
    </div>
</div>

<div class="inner-page">
    <div class="container">
        <h2 class="title-page">Инвесторам</h2>
        <div class="logo-inner">
            <img src="images/logo.png" alt="" title="">
        </div>
        <div class="quote">
            Есть интересующие Вас вопросы,  найдите их в <a href="faq.html">FAQ</a>
        </div>
        <div class="more-text more-text--close">
            <p>
                Но основным мозговым центром нашей компании является десятка трейдеров – ассов, способных мгновенно принимать решения и нести за них полную
                ответственность. Они совершают сделки как самостоятельно, так и с помощью торговых роботов, выставляя программно ограничение рисков и получение торговых
                сигналов. Важным качеством этих роботов является способность проводить моментально тысячи транзакций, зарабатывая на каждой из них. Представьте себе
            </p>
        </div>
        <a href="#1" class="open-text">Открыть полностью<span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
</div>

<<div class="rates-block">
    <div class="container">
        <h2>Тарифы</h2>
        <div class="col-sm-4 rate">
            <h3>10$</h3>
            <p>Инвест. период:  <span>45 д.</span></p>
            <p>Инвест. период:  <span>1% в день</span></p>
            <p>Сумма: <span>10$</span></p>
            <ul>
                <li class="col-xs-5">Ускоритель <span class="yellow-text">20%</span></li>
                <li class="col-xs-5">Ускоритель <span class="red-text">30%</span></li>
            </ul>
        </div>
        <div class="col-sm-4 rate">
            <h3>100$</h3>
            <p>Инвест. период:  <span>45 д.</span></p>
            <p>Инвест. период:  <span>1% в день</span></p>
            <p>Сумма: <span>10$</span></p>
            <ul>
                <li class="col-xs-5">Ускоритель <span class="grey-text">20%</span></li>
                <li class="col-xs-5">Ускоритель <span class="grey-text">30%</span></li>
            </ul>
        </div>
        <div class="col-sm-4 rate">
            <h3>1000$</h3>
            <p>Инвест. период:  <span>45 д.</span></p>
            <p>Инвест. период:  <span>1% в день</span></p>
            <p>Сумма: <span>10$</span></p>
            <ul class="text-center">
                <li class="col-xs-5">Ускоритель <span class="grey-text">20%</span></li>
                <li class="col-xs-5">Ускоритель <span class="grey-text">30%</span></li>
            </ul>
        </div>
    </div>
</div>