<vc:banner is-main="false"></vc:banner>
<vc:autorization></vc:autorization>

<div class="inner-page">
    <div class="container">
        <h2 class="title-page">Новости проекта</h2>
        <div class="logo-inner">
            <img src="~/images/logo.png" alt="" title="">
        </div>
        <div class="quote">
            Ознакомьтесь так же с нашей страницей для <a href="investors.html">инвесторов</a>
        </div>
        <div class="news-list">
            <h3>Новости</h3>
            <div class="count-news">
                <p>кол-во записей: <strong>10,570</strong></p>
            </div>
            <div class="clearfix"></div>
            <div class="news row">
                <div class="col-sm-12 col-md-4">
                    <img src="~/images/news.jpg" alt="" title="" />
                </div>
                <div class="col-md-8">
                    <h4>PROGRAMMATIC - кто мы?!</h4>
                    <p>
                        Argus будет открываться постепенно, и в первую неделю вы получите Krokuun, две сюжетные главы
                        и различные квесты. На второй неделе - Mac'aree, новые точки вторжения и новые задания.
                        На третьей неделе – откроется финальная глава, подземелье и Netherlight Crucible. И хоть основная
                        часть контента и привязана к учетной записи, но определенные миссии не будут доступны всем
                        персонажам (из-за фазирования).
                    </p>
                    <a href="#1" class="read-more"></a>
                </div>
            </div>
            <div class="news row">
                <div class="col-sm-12 col-md-4">
                    <img src="~/images/news.jpg" alt="" title="" />
                </div>
                <div class="col-md-8">
                    <h4>PROGRAMMATIC - кто мы?!</h4>
                    <p>
                        Argus будет открываться постепенно, и в первую неделю вы получите Krokuun, две сюжетные главы
                        и различные квесты. На второй неделе - Mac'aree, новые точки вторжения и новые задания.
                        На третьей неделе – откроется финальная глава, подземелье и Netherlight Crucible. И хоть основная
                        часть контента и привязана к учетной записи, но определенные миссии не будут доступны всем
                        персонажам (из-за фазирования).
                    </p>
                    <a href="#1" class="read-more"></a>
                </div>
            </div>
            <div class="news row">
                <div class="col-sm-12 col-md-4">
                    <img src="~/images/news.jpg" alt="" title="" />
                </div>
                <div class="col-md-8">
                    <h4>PROGRAMMATIC - кто мы?!</h4>
                    <p>
                        Argus будет открываться постепенно, и в первую неделю вы получите Krokuun, две сюжетные главы
                        и различные квесты. На второй неделе - Mac'aree, новые точки вторжения и новые задания.
                        На третьей неделе – откроется финальная глава, подземелье и Netherlight Crucible. И хоть основная
                        часть контента и привязана к учетной записи, но определенные миссии не будут доступны всем
                        персонажам (из-за фазирования).
                    </p>
                    <a href="#1" class="read-more"></a>
                </div>
            </div>
        </div>
    </div>
</div>