<vc:banner is-main="false"></vc:banner>
<vc:autorization></vc:autorization>

<div class="inner-page">
    <div class="container">
        <h2 class="title-page">Правила</h2>
        <div class="logo-inner">
            <img src="~/images/logo.png" alt="" title="">
        </div>
        <div class="quote">
            Ознакомьтесь так же с нашей страницей для <a href="investors.html">инвесторов</a>
        </div>
        <div class="more-text more-text--close">
            <p>
                Но основным мозговым центром нашей компании является десятка трейдеров – ассов, способных мгновенно принимать решения и нести за них полную
                ответственность. Они совершают сделки как самостоятельно, так и с помощью торговых роботов, выставляя программно ограничение рисков и получение торговых
                сигналов. Важным качеством этих роботов является способность проводить моментально тысячи транзакций, зарабатывая на каждой из них. Представьте себе
            </p>
        </div>
        <a href="#1" class="open-text">Открыть полностью<span class="glyphicon glyphicon-chevron-down"></span></a>
    </div>
</div>
<div class="rules">
    <div class="container">
        <ol>
            <li>Запрещается пользоваться сторонними вспомогательными программами</li>
            <li>Запрещается пользоваться сторонними вспомогательными программами</li>
            <li>Запрещается пользоваться сторонними вспомогательными программами</li>
        </ol>
    </div>
</div>