.benefits-block {
    background: #181a1e;
    margin: 50px 0;
}

    .benefits-block h2 {
        font-size: 40px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        padding: 40px 0 30px;
        font-family: 'arno_proregular';
        position: relative;
        margin: 0 0 75px;
    }

        .benefits-block h2:before {
            width: 370px;
            height: 3px;
            background: #fff;
            content: "";
            position: absolute;
            bottom: 10px;
            left: 50%;
            margin: 0 0 0 -185px;
        }

        .benefits-block h2:after {
            width: 20px;
            height: 20px;
            background: #fff;
            border-radius: 50%;
            content: "";
            position: absolute;
            bottom: 0px;
            left: 50%;
            margin: 0 0 0 -10px;
        }

    .benefits-block h3 {
        color: #181a1f;
        font-size: 20px;
        text-transform: uppercase;
        background: #fff;
        text-align: center;
        padding: 10px 0;
        font-weight: 900;
        margin: 30px 0 10px;
    }

    .benefits-block p {
        font-size: 18px;
        color: #fff;
        text-align: center;
        margin: 0 0 50px;
        line-height: 1.2;
    }
