.faq h4 {
    font-size: 20px;
    font-weight: bold;
    padding: 0 0 10px;
}

.faq li {
    font-size: 14px;
}

.closed-text {
    font-size: 14px;
    color: #666666;
    display: none;
}

.open-list li {
    font-size: 14px;
    margin: 0 0 10px;
    padding: 5px 0 5px 30px;
    background: url(../images/plus.jpg) no-repeat left top;
    cursor: pointer;
}

.open-list .act {
    background: url(../images/minus.jpg) no-repeat left top;
}

.open-list ul {
    padding: 0 0 20px;
    margin: 0 0 20px;
    position: relative;
}

.faq-list {
    margin: 0 0 70px;
}

    .faq-list div {
        padding: 0 0 15px;
        border-bottom: 2px solid #ccc;
        margin: 0 2% 20px;
    }

    .faq-list .clearfix {
        margin: 0px;
        padding: 0px;
        border: none;
    }
