.partners-block {
    background: #15171c;
    padding: 45px 0;
    margin: 10px 0 0 0;
}

    .partners-block .partner {
        line-height: 112px;
    }

    .partners-block img {
        vertical-align: middle;
        padding: 25px 25px;
    }
