<div class="partners-block text-center">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-3 partner">
            <img src="~/images/part1.png" alt="" title="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 partner">
            <img src="~/images/part2.png" alt="" title="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 partner">
            <img src="~/images/part3.png" alt="" title="">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 partner">
            <img src="~/images/part4.png" alt="" title="">
        </div>
    </div>
</div>