<div class="container text-center">
    <div class="col-sm-8 col-sm-offset-2 text-center bonus-block">
        <div class="col-md-3">
            <a href="#1"><img src="../images/bonus-icon.png" /></a>
        </div>
        <div class="col-md-9">
            <a href="#1">Получить бонус 10$</a>
        </div>
    </div>
</div>